# /*
# !/.gitignore
# !/index.html
# !/static/
# !/favicon.ico
# !/manifest.json
# !/robots.txt

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage


#.htacces para donweb
.htacces
deploy.ps1

# production (no subas la carpeta build)
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*